In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 50)

/var/folders/n5/2fld4dp113dfbc1h0f87y9_r0000gn/T/ipykernel_101/905896856.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("project_data.csv")
df

/var/folders/n5/2fld4dp113dfbc1h0f87y9_r0000gn/T/ipykernel_99425/146571319.py:1: DtypeWarning: Columns (6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("project_data.csv")

,Finish Pos.,CTRY,player_id,NAME,POINTS WON,RANK FROM,RANK TO,tournament_id,R1,R2,R3,R4,AGG,R5
0,1,NaN,449.0,Mark McNulty,10.0,-,-,7,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,440.0,David Frost,6.0,-,-,7,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,446.0,Tony Johnstone,4.0,-,-,7,NaN,NaN,NaN,NaN,NaN,NaN
3,T4,NaN,95.0,Rick Hartmann,4.0,-,-,7,NaN,NaN,NaN,NaN,NaN,NaN
4,T4,NaN,265.0,David Feherty,4.0,-,-,7,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140530,NaN,NaN,74.0,Guillermo Mito Pereira,NaN,NaN,NaN,36_liv,73.0,71.0,71.0,NaN,215.0,NaN
1140531,NaN,NaN,60.0,Jason Kokrak,NaN,NaN,NaN,36_liv,73.0,73.0,70.0,NaN,216.0,NaN
1140532,NaN,NaN,63.0,Cameron Smith,NaN,NaN,NaN,36_liv,73.0,73.0,74.0,NaN,220.0,NaN
1140533,NaN,NaN,36.0,Hudson Swafford,NaN,NaN,NaN,36_liv,78.0,78.0,67.0,NaN,223.0,NaN
1140534,NaN,NaN,149.0,Caleb Surratt,NaN,NaN,NaN,36_liv,80.0,73.0,75.0,NaN,228.0,NaN